<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-1'>
              <label> Type </label>
            </div>
            <div class='col-md-3'>
              <select class='form-control' [(ngModel)]="selectedVehicleType" (change)='getSelectedType()'>
                <option value='4-Wheeler' *ngFor='let type of vehicleTypeList' [value]='type.id'>{{type.type}}</option>
              </select>
            </div>
            <div class='col-md-1'>
              <label> Brand </label>
            </div>
            <div class='col-md-3'>
              <select class='form-control' [(ngModel)]="selectedBrand" (change)='getAllModelList()'>
                <option *ngFor='let type of brandList' [value]='type.id'>{{type.brandname}}</option>
              </select>
            </div>
            <div class='col-md-1'>
              <label> Model </label>
            </div>
            <div class='col-md-3'>
              <select class='form-control' [(ngModel)]="selectedModel" (change)='getAllVariantList()'>
                <option *ngFor='let type of modelList' [value]='type.id'>{{type.modelname}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Vehicle Brand List
          <button type="button" class="btn btn-info add-new pull-right" (click)='openModal(content)'>
            <i class="fa fa-plus"></i> Add New</button>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-condensed table-sm">
            <thead>
              <tr class='text-center'>
                <td>No.</td>
                <td>Vehicle Brand Name</td>
                <td>Show Models</td>
                <td>Edit</td>
                <td>Remove</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf='isBrandListEmpty'>
                <td colspan='5' class='text-center'>No records found</td>
              </tr>
              <tr ng-if="brandList.length > 0" *ngFor="let row of brandList; let i = index" class='text-center'>
                <td>{{i + 1}}</td>
                <td>{{row.brandname}}</td>
                <td (click)='showModelsList(row)'>
                  <i class="customIcons cui-list"></i>
                </td>
                <td (click)='editBrand(row, content)'>
                  <i class="customIcons cui-pencil"></i>
                </td>
                <td (click)='removeBrand(row)'>
                  <i class="customIcons cui-circle-x"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Vehicle Model List
          <button type="button" class="btn btn-info add-new pull-right" (click)='openModal(modelModal)'>
            <i class="fa fa-plus"></i> Add New</button>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-condensed table-sm">
            <thead>
              <tr class='text-center'>
                <td>No.</td>
                <td>Vehicle Model Name</td>
                <td>Show Variants</td>
                <td>Edit</td>
                <td>Remove</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf='isModelListEmpty'>
                <td colspan='5' class='text-center'>No records found</td>
              </tr>
              <tr ng-if="modelList.length > 0" *ngFor="let row of modelList; let i = index" class='text-center'>
                <td>{{i + 1}}</td>
                <td>{{row.modelname}}</td>
                <td (click)='showVariantsList(row)'>
                  <i class="customIcons cui-list"></i>
                </td>
                <td (click)='editModel(row, modelModal)'>
                  <i class="customIcons cui-pencil"></i>
                </td>
                <td (click)='removeModel(row)'>
                  <i class="customIcons cui-circle-x"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Vehicle Variant List
          <button type="button" *ngIf='false' class="btn btn-info add-new pull-right" (click)='openModal(variantModal)'>
            <i class="fa fa-plus" style='margin:0 4px;'></i> Add New</button>
          <button type="button" style='margin:0 4px;' class="btn btn-info add-new pull-right" (click)='openModal(serviceToVarinatsModal)'>
            <i class="fa fa-plus"></i> Add New</button>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-condensed table-sm">
            <thead>
              <tr class='text-center'>
                <td>No.</td>
                <td>Vehicle Variant Name</td>
                <td>Edit</td>
                <td>Remove</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf='isVariantListEmpty'>
                <td colspan='5' class='text-center'>No records found</td>
              </tr>
              <tr ng-if="variantList.length > 0" *ngFor="let row of variantList; let i = index" class='text-center'>
                <td>{{i + 1}}</td>
                <td>{{row.variantname}}</td>
                <td (click)='editVariant(row, serviceToVarinatsModal)'>
                  <i class="customIcons cui-pencil"></i>
                </td>
                <td (click)='removeVariant(row)'>
                  <i class="customIcons cui-circle-x"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <b *ngIf='isUpdate'>Update Brand</b>
    <b *ngIf='!isUpdate'>Add New Brand</b>
    <button type="button" class="close" (click)='closeModal()'>&times;</button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" (keyup.enter)='updateBrand()' class="form-control" placeholder="Enter brand name" autofocus [(ngModel)]='brandname'
          [ngModelOptions]="{standalone: true}" name='brandname' required="required">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block btn-md" *ngIf='!isUpdate' (click)='addNewBrand()' [disabled]='!brandname'>Add Brand</button>
        <button class="btn btn-warning btn-block btn-md" *ngIf='isUpdate' (click)='updateBrand()' [disabled]='!brandname'>Update Brand</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal -->
<ng-template #modelModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <b *ngIf='isUpdate'>Update Model</b>
    <b *ngIf='!isUpdate'>Add New Model</b>
    <button type="button" class="close" (click)='closeModal()'>&times;</button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" (keyup.enter)='updateModel()' class="form-control" placeholder="Enter model name" autofocus [(ngModel)]='modelname'
          [ngModelOptions]="{standalone: true}" name='modelname' required="required">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block btn-md" *ngIf='!isUpdate' (click)='addNewModel()' [disabled]='!modelname'>Add Model</button>
        <button class="btn btn-warning btn-block btn-md" *ngIf='isUpdate' (click)='updateModel()' [disabled]='!modelname'>Update Model</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal -->
<ng-template #variantModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <b *ngIf='isUpdate'>Update Variant</b>
    <b *ngIf='!isUpdate'>Add New Variant</b>
    <button type="button" class="close" (click)='closeModal()'>&times;</button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter variant name" autofocus [(ngModel)]='variantname' [ngModelOptions]="{standalone: true}"
          name='variantname' required="required">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block btn-md" *ngIf='!isUpdate' (click)='addNewVariant()' [disabled]='!variantname'>Add Variant</button>
        <button class="btn btn-warning btn-block btn-md" *ngIf='isUpdate' (click)='updateVariant()' [disabled]='!variantname'>Update Variant</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #serviceToVarinatsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <b *ngIf='isUpdate'>Update Variant</b>
    <b *ngIf='!isUpdate'>Add New Variant</b>
    <button type="button" class="close" (click)='closeModal()'>&times;</button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter variant name" autofocus [(ngModel)]='variantname' [ngModelOptions]="{standalone: true}"
          name='variantname' required="required"><br>
        <select [(ngModel)]='selectedServices' (change)='loadSubServices()' name="selectedServices[]" multiple class="form-control">
          <option [value]="service.id" *ngFor='let service of serviceList'>{{service.service_display_name}}</option>
        </select>
        <br/>
        <select [(ngModel)]='selectedSubServices' [disabled]='true' name="selectedSubServices[]" multiple class="form-control">
          <option [value]="subService.id" *ngFor='let subService of subServiceList'>{{subService.sub_service_display_name}}</option>
        </select>
        <br/>
        <table>
          <tr *ngFor="let subService of subServiceList; let in = index">
            <td><label>{{subService.sub_service_display_name}}</label></td>
            <td>
              <input class='form-control' placeholder='Enter price' type="text" [(ngModel)]="subService.price" [ngModelOptions]="{standalone: true}">
            </td>
            <td>
              <input class='form-control' type="text" placeholder='Enter discount' [(ngModel)]="subService.discount" [ngModelOptions]="{standalone: true}">
            </td>
          </tr><br>
        </table><br>
        <button type="button" class="btn btn-info btn-block" *ngIf='!isUpdate' (click)='addServicesToVariant()'> ADD </button>
        <button type="button" class="btn btn-success btn-block" *ngIf='isUpdate' (click)='updateServiceToVariant()'> Update </button>
      </div>
      <div class="form-group">
      </div>
    </form>
  </div>
</ng-template>
